/*HEADER*/
header{
  background-color: #161021;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
header h2{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
}
header h2 svg{
  width: 2rem;
  height: 2rem;
  color: #5211d4;
}
nav{
  display: flex;
  gap: 1.5rem;
}
nav a{
  color:white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  margin: 1rem;
}
nav a:hover{
  color:#5211d4;
}
.shopping-bag{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding: 1rem 2rem; 
}
.shopping-bag .icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    border-radius: 0.5rem;
    padding: 0.6rem;
    transition: background 0.3s,transform 0.2s;
}
.shopping-bag .icon-link:hover{
    background-color: #5211d4;
    transform: scale(1.1);
}
.shopping-bag svg{
    width:1.8rem;
    height: 1.8rem;
    stroke: #fff;
    transition: #fff;
}
.shopping-bag .icon-link:hover svg {
    stroke: #fff;
}
/* LOGIN + BUSCADOR */
header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header div a{
  background-color:#5211d4;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}
header div a:hover{
  transform: scale(1.1);
}
form{
  display: flex;
  align-items: center;
  background-color:#1e293b ;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
form svg{
  color: #94a3b8;
}
form input{
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 0.5rem;
}