header{
    background-color: #161021;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
header h2{
  color: #fff;
  font-size: 1.5 rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
header h2 svg{
  width: 2rem;
  height: 2rem;
  color: #5211d4;
  margin-right: 0.5rem;
}
nav{
  display: flex;
  gap: 1rem;
}
nav a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  margin: 0.5rem;
}